<main class="container mt-5">
  <h1 class="text-center">Products</h1>
  <div class="row">
    {{#each products}}
    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title h2">
            <a href="/product/{{id}}">{{name}}</a>
          </h2>
          <div class="h4 text-success">{{formatPrice price}}</div>
          <div>
            <span class="badge badge-primary">{{category}}</span>
            <span class="badge badge-primary">Small</span>
            <span class="badge badge-primary">Leather</span>
          </div>
          <div class="card-text">lorem ipsum</div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</main>