{{#each this}}
  <div class="card mb-3">
    <div class="card-body">
      <div class="card-title">
        <a href="/order/{{id}}">
          Order #{{id}}
        </a>
      </div>
      <div>
        {{> order-payment-date this}}
      </div>
      <div>
        {{> order-ship-date this}}
      </div>
      <div class="h4 mt-3">
        {{#if item_count}}
          <span>
            {{item_count}} items in order
          </span>
        {{else}}
          <span class="text-danger">
            Order is empty!
          </span>
        {{/if}}
      </div>
    </div>
  </div>
{{/each}}