<main class="container mt-5">
  <div class="mb-3">
    <h1>
      Customer List
    </h1>
  </div>
  <form id="search-customer-form" method="GET">
    <fieldset>
      <legend>Search</legend>
      <div class="form-group">
        <label for="search" class="sr-only">
          Search
        </label>
        <div class="input-group mb-3">
          <input
            id="search"
            name="search"
            type="search"
            class="form-control"
            placeholder="search..."
            value="{{search}}"
          />
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">
              Search
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="registered" class="sr-only">
          Registered
        </label>
        <select
          id="registered"
          name="registered"
          class="custom-select w-auto"
        >
          {{#if registered}}
            <option value="{{registered}}" selected hidden>
              {{registered}}
            </option>
          {{/if}}
          <option value="">
            All Customers
          </option>
          <option value="0">
            Registered Today
          </option>
          <option value="-30">
            Registered in the last 30 days
          </option>
          <option value="-90">
            Registered in the last 90 days
          </option>
          <option value="-365">
            Registered in the past year
          </option>
        </select>
      </div>
    </fieldset>
  </form>
  <div>
    {{> customer-list customers}}
  </div>
</main>