<main class="container mt-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/order">
          Orders
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{title}}
      </li>
    </ol>
  </nav>
  <div>
  <h1 class="mb-5">
    {{title}}
  </h1>
  {{#if items}}
    {{> order-item-list items}}
    <div class="h2">Total Cost: {{formatPrice totalCost}}</div>
  {{else}}
    <div class="h4 text-danger">Order is empty!</div>
  {{/if}}
</main>